.searchRow {
  width: 100%;
}

.searchBar {
  margin-bottom: 10px;
  justify-content: center;
}

.searchInput {
  margin-right: 15px;
}

.tableHeader {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}